services:
  postgres:
    # see https://hub.docker.com/_/postgres for list of postgres image versions on docker hub
    #image: postgres:latest # To download the latest image
    #image: postgres:17.4-alpine # To download a specific version, here the version 17.4 of Postgresql under an alpine linux distribution
    image: postgis/postgis:16-3.4 # To download a specific version, here the version 17.4 of Postgresql
    container_name: postgres-track-rejoice
    volumes:
      - postgresql_data:/var/lib/postgresql/data
      - ./initdb.d:/docker-entrypoint-initdb.d
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432" # HOST_PORT:CONTAINER_PORT


  fluxzero-runtime:
    image: ghcr.io/fluxzero-io/fluxzero-sdk-java/fluxzero-test:1.20.0
    environment:
      - FLUXZERO_LOG_RETENTION=PT30M
    healthcheck:
      test: "wget --spider -q http://localhost:8888/health"
      interval: 5s
    ports:
      - "8888:8888"

  track-rejoice:
    image: ghcr.io/fluxzero-io/fluxzero-sdk-java/fluxzero-proxy:1.20.0
    environment:
      - FLUXZERO_BASE_URL=http://fluxzero-runtime:8888
      - FLUXZERO_APPLICATION_NAME=track-rejoice-proxy
    ports:
      - "8080:8080"

  opensearch:
    image: opensearchproject/opensearch:3
    environment:
      - discovery.type=single-node
#      - OPENSEARCH_INITIAL_ADMIN_PASSWORD=0pen_Search
      - DISABLE_SECURITY_PLUGIN=true
    healthcheck:
      test: "curl -fs http://localhost:9200/_cluster/health?wait_for_status=yellow"
      interval: 10s

  dashboards:
    build:
      context: dashboards
    environment:
      - OPENSEARCH_HOSTS=["http://opensearch:9200"]
    ports:
      - "5601:5601"
    depends_on:
      opensearch:
        condition: service_healthy
    healthcheck:
      test: "curl -fs http://localhost:5601/api/status"

  auditlog:
    image: ghcr.io/fluxzero-io/fluxzero-auditlog-opensearch:v1.2.1
    environment:
      - FLUXZERO_BASE_URL=http://fluxzero-runtime:8888
      - OPENSEARCH_URL=http://opensearch:9200
      - AUDITLOG_USER=admin
      - AUDITLOG_PASSWORD=0pen_Search
      - DASHBOARDS_URL=http://dashboards:5601
      - DASHBOARDS_USER=admin
      - DASHBOARDS_PASSWORD=0pen_Search
    depends_on:
      dashboards:
        condition: service_healthy
      fluxzero-runtime:
        condition: service_healthy

volumes:
  postgresql_data:
    driver: local

networks:
  postgres_network:
    driver: bridge