<mat-toolbar color="primary">Sightings</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav position="start" mode="side" #sidenav [(opened)]="opened">
    <track-rejoice-sidebar (filterChange)="filterChange$.next($event)" [statsEndpoint]=statsEndpoint() />
  </mat-sidenav>
  <mat-sidenav-content>
    <!--    <p><mat-checkbox [(ngModel)]="opened">sidenav.opened</mat-checkbox></p>-->
    <p>
      <button matMiniFab aria-label="Example icon button with a menu icon" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </p>
    <track-rejoice-sightings [filterUpdate$]="filterChange$"/>
  </mat-sidenav-content>
</mat-sidenav-container>
