:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.example-container {
  flex: 1;
  background: var(--mat-sys-background);
  color: var(--mat-sys-on-background);
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.example-button-row {
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
