:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.example-container {
  flex: 1;
  background: var(--mat-sys-background);
  color: var(--mat-sys-on-background);
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
