<mat-drawer-container class="example-container">
  <mat-drawer-content>
    <track-rejoice-sighting-basic-details [sighting]="selectedItem()"/>
  </mat-drawer-content>
  <mat-drawer mode="side" position="end" opened>
    <section>
      <div class="example-button-row">
        <div class="example-flex-container">
          <a  matButton="filled" [routerLink]="['/sightings', selectedItem().sightingId]">
            Link
          </a>
          <button matMiniFab aria-label="Delete">
            <mat-icon>delete</mat-icon>
          </button>

        </div>

      </div>
    </section>
  </mat-drawer>
</mat-drawer-container>
