<mat-drawer-container class="example-container">
  <mat-drawer-content>
    <div>{{ selectedItem().sightingId }}</div>
    <div>{{ selectedItem().timestamp }}</div>
    <div>Latitude: {{ selectedItem().details.lat }}</div>
    <div>Longitude: {{ selectedItem().details.lng }}</div>
  </mat-drawer-content>
  <mat-drawer mode="side" position="end" opened>
    <section>
      <div class="example-button-row">
        <div class="example-flex-container">
          <button matFab extended aria-label="Example icon button with a delete icon">
            Delete
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </section>
  </mat-drawer>
</mat-drawer-container>
