<h2 class="sidebar-title">Filters</h2>
<form class="example-form">
  <track-rejoice-filter (searchTerm)="onSearchTermChange($event)" />
  <div class="mb-3">
    @for (filter of valueMap()|keyvalue; track filter.key) {
      <div class="divider">
        <div class="divider-row">
          <h2>{{ filter.key | titlecase }}</h2>
          <span class="spacer"></span>
          <button type="button"
                  matButton
                  (click)="resetValues(filter.key)">Reset
          </button>
        </div>
      </div>
      <mat-selection-list [multiple]="true" [formControl]="form.controls.facets.controls[filter.key]">
        @for (opt of filter.value; track opt.value) {
          <mat-list-option [value]="opt.value">
            {{ opt.value|titlecase }} ({{ opt.count }})
          </mat-list-option>
        }
      </mat-selection-list>
    }
  </div>
  <div class="d-grid gap-2">
    <a matButton="filled" routerLink="/sightings/new">Create Sighting</a>
  </div>
</form>
