<h2 class="sidebar-title">Filters</h2>
<form class="example-form" >
  <div class="mb-3" [formGroup]="searchForm">
    <mat-form-field class="example-full-width">
      <mat-label>Search</mat-label>
      <input matInput placeholder="Type to search..." formControlName="search">
    </mat-form-field>
  </div>
  <div class="mb-3">
    @for (filter of getFacetStats|async|keyvalue; track filter.key) {
      <span><h2>{{ filter.key | titlecase }}</h2><button type="button" matButton="filled" (click)="clearValues(filter.key)">Clear</button></span>
      <mat-selection-list [multiple]="true" [formControl]="facetSelectionControl(filter.key)">
        @for (opt of filter.value; track opt.value) {
          <mat-list-option [value]="opt.value" [disabled]="opt.count === 0 && !isSelected(filter.key, opt.value)">
              {{ opt.value }} ({{ opt.count }})
          </mat-list-option>
        }
      </mat-selection-list>
    }
  </div>
  <div class="d-grid gap-2">
    <a matButton="filled" routerLink="/sightings/new">Create Sighting</a>
  </div>
</form>
