<h2 class="sidebar-title">Filters</h2>
<form class="example-form" [formGroup]="searchForm">
  <div class="mb-3">
    <mat-form-field class="example-full-width">
      <mat-label>Search</mat-label>
      <input matInput placeholder="Type to search..." formControlName="search">
    </mat-form-field>
    <div class="form-text">Sent as query parameter to the listing endpoint.</div>
  </div>
  <div class="mb-3">
    @for (filter of getFacetStats|async|keyvalue; track filter.key) {
      <h2>{{ filter.key | titlecase }}</h2>
      <ul>
        @for (value of filter.value; track value.value) {
          <li>
            <mat-checkbox [formControl]="facetControl(filter.key, value.value)" labelPosition="before">
              {{ value.value }} ({{ value.count }})
            </mat-checkbox>
          </li>
        }
      </ul>
    }
  </div>
  <div class="d-grid gap-2">
    <a routerLink="/sightings/new" class="btn btn-primary">Create Sighting</a>
  </div>
</form>
