<header>
<h1>Create Sighting</h1>
</header>
<div class="example-container">
  <form [formGroup]="form" (ngSubmit)="create()">
    <div>
      <div class="example-form-fields" formGroupName="sightingDetails">
        <mat-form-field [hideRequiredMarker]="hideRequired()" [floatLabel]="floatLabel()">
          <mat-label>Latitude</mat-label>
          <input type="number" matInput placeholder="e.g. 4.9876" formControlName="lat"/>
          @if (form.controls.sightingDetails.controls.lat.errors) {
            <mat-error>{{ form.controls.sightingDetails.controls.lat | printerror }}</mat-error>
          }
        </mat-form-field>
        <mat-form-field [hideRequiredMarker]="hideRequired()" [floatLabel]="floatLabel()">
          <mat-label>Longitude</mat-label>
          <input type="number" matInput placeholder="e.g. 52.1234" formControlName="lng"/>
          @if (form.controls.sightingDetails.controls.lng.errors) {
            <mat-error>{{ form.controls.sightingDetails.controls.lng | printerror }}</mat-error>
          }
        </mat-form-field>
      </div>
      <div class="example-form-fields">
        <mat-form-field [hideRequiredMarker]="hideRequired()" [floatLabel]="floatLabel()">
          <mat-select formControlName="subtype">
            <mat-option value="cat">Cat</mat-option>
            <mat-option value="dog">Dog</mat-option>
          </mat-select>
          <mat-label>Type</mat-label>
        </mat-form-field>
      </div>
      <div class="example-form-fields">
        <mat-checkbox formControlName="removeAfterMatching">Remove after matching</mat-checkbox>
      </div>
    </div>
    @if (form.touched && form.invalid) {
      <p class="control-error">Form is invalid</p>
    }
    <section>
      <div class="example-button-row">
        <button matButton="elevated" type="submit" [disabled]="submitting()">
          Create
        </button>
      </div>
    </section>

  </form>
</div>


<div style="margin-bottom: 1rem;">
  <a routerLink="/sightings" class="btn btn-link">Back to list</a>
</div>
