section {
  display: flex;
  align-items: center;
}

.example-button-row {
  max-width: 600px;
}

.example-container mat-form-field + mat-form-field {
  margin-left: 8px;
}

.example-container mat-form-field {
  width: 220px;
}

.example-container form {
  margin-bottom: 20px;
}

.example-container form > * {
  margin: 12px 0;
}

.example-container .mat-radio-button {
  margin: 0 12px;
}

.example-form-fields {
  display: flex;
  align-items: flex-start;
}

.control-row {
  align-items: flex-end;
}

.control {
  flex: 1;
}

button {
  padding: 0.6rem 1.75rem;
}
